.descri {
    margin-top: 30vh;
    height: 70vh;
}
.link {
    padding-right : 25px;
    cursor : pointer;
    color: orange
}
.link:hover {
    color: black;
    text-decoration: none;
}
.link2 {
    cursor : pointer;
    color: black;
    padding: 10px;
}
.link2:hover {
    color: black;
    text-decoration: none;
}
.logo {
    text-align: center;
}
.pics {
    margin-top: 15vh;
}
li {
    list-style-type: decimal
}
.text-deskopt-display {
    text-align: center;
    margin-top: 5vh;
}

.respons {
    margin-top: 10vh;
}
.serv {
    margin-top: 20vh;
    height: auto;
}
.text-serv {
    padding-left: 250px;
    padding-right: 250px;
}
.footer {
    padding: 8vh
}

@media only screen and (max-width: 600px) {
    .descri {
        margin-top: 10vh;
        height: 90vh;
    }
    .text-descri {
        margin-top: 9vh;
        text-align:center;
    }
    .opt {
        font-size: 22px;
    }
    .respons {
        margin-top: 5vh;
        height: auto;
    }
    .serv {
        margin-top: 10vh;
        height: auto;
    }
    .text-serv {
        padding-left: 0;
        padding-right: 0;
    }
    .pics {
        margin-top: 5vh;
    }
    .footer {
        padding:4vh
    }
    .footer-contact {
        margin-top: 3vh;
    }
    .mentions {
        font-size: 2px;
    }
    .logo {
        margin-left: 0px;
    }
} 