.contact {
    margin-top: 16vh;
    text-align: center;
}
.form {
    height: auto
}

@media only screen and (max-width: 600px) {
    .contact {
        margin-top: 10vh;
        height: auto;
    }
    .form {
        height: auto;
    }
} 