.about {
    margin-top: 15vh;
}
.cv {
    margin-top: 10vh;
}
.share-text {
    margin-top: 15vh;
}

@media only screen and (max-width: 600px) {
    .about {
        margin-top: 10vh;
        height: auto;
    }
    .cv {
        margin-top: 5vh
    }
    .share-text {
        margin-top: 3vh;
    }
    .share-pic {
        margin-top: 10vh;
    }
} 